/* LANDING PAGE LAYOUT */

header, section{
	padding: 4em 10vw;
}

header{
	background: $nkblue;
}

section{

	+ section{
		border-top: 1px dashed $nkblue;
	}

}

footer{
	padding: 2em 10vw;
	background: $gray;

	p{
		color: $white;
		font-size: .8em;
	}
}

/*Nav Styles*/

nav{

	ul{
		list-style: none;
		display: flex;
		margin-top: 2em;
		align-items: baseline;

		li {
			flex-grow: .25;

			+ li{
				margin: 0;
			}

			a{
				color:$gray;
			}
			a:hover{
				text-decoration: underline;
			}
		}
		li:first-child{
			flex-grow: 3;
		}
	}
}



/*MEDIA QUERIES*/

@media all and (max-width: 1150px) {
	header{
		padding: 2em;
	}
	nav{
		ul{
			flex-direction: column;
			align-items: center;
			li:first-child{
				margin-bottom: 2em;
			}
		}
	}
}
