/* LANDING PAGE LAYOUT */

header, section{
	padding: 4em 10vw;
}

header{
	background: $nkblue;
}

section{

	+ section{
		border-top: 1px dashed $nkblue;
	}

}

footer{
	padding: 2em 10vw;
	background: $gray;

	p{
		color: $white;
		font-size: .8em;
	}
}

/*Nav Styles*/

nav{
	ul{
		list-style: none;
		display: flex;
		height: 100%;

		li {
			align-self: center;
			flex-grow: 1;
			a{
				color:$gray;
			}
			a:hover{
				text-decoration: underline;
			}
		}
		li:first-child{
			flex-grow: 2;
			line-height: 2em;
		}
	}
}

@media all and (max-width: 800px) {
	nav{
		ul{
			li{
				justify-content: space-between;
			}
		}
	}
}
